:root {/*:root- переменная*/
    --size-div: 600px;
    }
    
div{
    background-color: aquamarine;
    width: var(--size-div);
    overflow: visible;
    /* overflow:hidden-обрезает изображ. по границы блока */
}

p{
    width: 110px;
} 
div img{
    width: var(--size-div);
    height: 150px;
    object-fit: cover; /*обрезка изображения; contain- уменьшается под размеры блока*/
}
@media only screen and (max-width: 600px) {
    div{
        background-color: yellow;
    }
}

